.body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

#about {
  background-image: linear-gradient(90deg, rgba(35,61,255,0.7654412106639531) 0%, rgba(35,61,255,0.4853291658460259) 50%, rgba(35,61,255,0.7794468129048494) 100%),url("Assest/33.jpg");

 /* position: absolute; */
 /* height: auto; */
 /* width: 100%; */
 

}

.background .image-fluid {
  width: 100%;
  height: auto;

}

 

#myVideo {
  position: relative;
  height: auto;
  width: 80%;
  z-index: -1;

}

body>div.background>div.heading-firstpage.text-center.container-fluid {
  background-image: linear-gradient(90deg, rgba(35,61,255,0.7654412106639531) 0%, rgba(35,61,255,0.4853291658460259) 50%, rgba(35,61,255,0.7794468129048494) 100%), url("Assest/back.jpg");


  background-size: 100%;
  background-repeat: no-repeat;
  height: fit-content;
  width: cover;
  height: max-content;
  align-items: center;
  height: 30vh;
  vertical-align: Center;
}

body>div.background>div.heading-firstpage.text-center.container-fluid p {
  vertical-align: middle;
  text-align: center;
}


.heading-firstpage {
  font-family: 'Poppins', sans-serif;
  position: absolute;
  /* top: 10%; */
  width: 100%;
  color: rgb(255, 255, 255);
  font-weight: bolder;
  font-size: 25px;
  letter-spacing: 0.2rem;

  /* border: 2px solid chartreuse; */
}

/* MEDIA QUERY SURU */

@media only screen and (min-width: 280px) and (max-width: 495px) {
  #about{
    padding-top: 30%;



  }


  .heading-firstpage {
    position: absolute;
    /* margin-top: rem; */
    

  }

   .navbar-expand-md .navbar-collapse {
    background-color: black;

  }
}

@media only screen and (min-width: 496px) and (max-width: 750px) {
  .heading-firstpage {
    position: absolute;
    
    /* margin-top: -15rem; */

  }
  #about{
    padding-top: 20%;
  }
}

@media only screen and (min-width: 756px) and (max-width: 1400px) {
  .heading-firstpage {
    position: absolute;
    /* margin-top: -15rem; */
  }
  #about{
    padding-top: 20vh;

  }
}



@media screen and (min-width: 279px) {
  .navbar>.container-fluid {
    font-size: 10px;
  }

  .navbar .navbar-brand {
    font-size: small;
  }

  #navbarResponsive > ul{
    font-size: small;
  }

  #about > div.row > div.col-lg-8.col-md-8.col-12.p-5.pb-1 > h3{
    font-size: medium;
      }
}

@media only screen and (min-width: 756px) and (max-width: 900px) {
  .heading-firstpage {
    position: absolute;
    /* margin-top: -15rem; */
  }
  #about{
    padding-top: 20%;

  }
}

@media only screen and (min-width: 980px){
  .heading-firstpage {
    position: absolute;
    padding-bottom: 10%;
    /* margin-top: -15rem; */
  }
  #about{
    padding-top: 20vh;

  }
}
#about > div.row > div.col-lg-8.col-md-8.col-12.p-5.pb-1 > h3{
  font-size: larger;
    }







/* MEDIA QUERY SAMPLI */







#about > div.row > div.col-lg-8.col-md-8.col-12.p-5.pb-1{
  background-image: linear-gradient(90deg, rgba(35, 61, 255, 0.7654412106639531) 0%, rgba(35, 61, 255, 0.4853291658460259) 50%, rgba(35, 61, 255, 0.7794468129048494) 100%),url("Assest/back.jpg");
  background-size: cover;

}


.d-inline-block {
  margin-left: 5%;

}

.navbar .navbar-brand {
  font-family: 'Poppins', sans-serif;
  /* border: 2px solid chartreuse; */
  color: white;
  font-size: larger;
}


.navbar {
  /* border: 2px solid chartreuse; */
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.1rem;
  padding: 0;
  height: 10%;
  background-color: black;
  font: white !important;

}


.dropbtn {
  background-color: transparent;
  color: inherit;
  padding: 8px;
  font-size: inherit;
  border: none;
  color: white;

}

.dropdown {
  position: relative;
  display: inline-block;
}


.dropdown-content {
  border: 1.5px rgba(130, 130, 130, 0.308) solid;
  background-color: rgba(90, 88, 88, 0.812);
  padding-inline: 3px;
  font: white;
  display: none;
  position: absolute;
  opacity: 0.5;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding-left: 10px;
}

.dropdown-content a {
  border-bottom: 1.5px rgba(130, 130, 130, 0.308) solid;
  font-family: inherit;
  color: white;
  text-decoration: none;
  display: block;
  padding-left: 10px;
}



.dropdown-content a:hover {
  background-color: rgb(184, 184, 184);
  /* background-color: #4657A1; */

}

.navbar-nav .nav-link {
  padding-left: 10px !important;
  color: white;
  background-color: black;
}

.navbar-nav .nav-link:hover {
  color: rgb(255, 255, 255) !important;
  padding-left: 10px !important;


}

/* .navbar-expand-lg .navbar-collapse{
  background-color: black !important
} */


#button>span {
  background-image: linear-gradient(rgba);
  background-image: url("Assest/icons8-exchange.gif") !important;
  border-radius: 15% 15% 15% 15%;
}



.dropdown:hover .dropdown-content {
  display: block;
  background-color: black;
  opacity: 1;

}

.navbar-nav p-1{
  margin-left: auto !important;
}



.nav-item :hover {
  /* color: white!important; */
  opacity: 1;
  text-decoration: solid;
  color: #040404;
}

.collapse navbar-collapse {
  padding: 8px;
  color: white;
}


.navbar>.container-fluid {
  padding: 0;
  background-color: black;
  font-size: large;
}



  

#about{
  position: absolute;
  height: 100%;
  width: cover;
 
  }
  

#about .col{
  border: 1px red solid;
}

#about > img{
  /* height: 10rem; */
  width: 100%;
  padding: 0; 
border: 2px black solid;
}

#about > div.row > div.col-lg-4.col-md-4.p-5.pb-1.pt-1{
  background-color:linear-gradient(90deg, rgba(35,61,255,0.7654412106639531) 0%, rgba(35,61,255,0.4853291658460259) 50%, rgba(35,61,255,0.7794468129048494) 100%);
}


  #about > div.row> div.col-lg-4.col-md-4.p-5.pb-1.pt-1 > img{
    border:3px black solid;
  }


/* CONVERSION WALA BOX */
/* body {
	background-color: aliceblue;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
} */



@media (max-width: 768px) {
	hr {
		width: 60%;
	}
	.main {
		width: 100%;
	}
}

@media (max-width: 400px) {
	.heading {
		font-size: 60px;
	}
	hr {
		width: 75%;
	}
	#finalAmount h2, .finalValue {
		font-size: 40px;
	}
} */


/* CONVERSION WALA BOX */

#finalAmount{
  border: 1PX green solid;
}

/* FOOTER  */
bg-dark text-center text-white{
  height: 10vh;

}